@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flap {
  0%, 100% {
    transform: rotate(0deg) scaleY(1);
  }
  50% {
    transform: rotate(-30deg) scaleY(0.7);
  }
}

.animate-flap {
  animation: flap 0.2s infinite;
  transform-origin: right center;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
